<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@{/css/style.css}">
	<title>Document</title>
</head>
<body>
   <h1 class="color-rojo">Hola Spring</h1>
   <h2 class="color-azul">DEcorando con estilos CCS</h2>
   <img th:src="@{/images/image.png}" alt="">
  
	<li>
	<a th:href="@{/params/string(texto='HOla Gonzalo')}">/params/string(texto='HOla Gonzalo')</a>
	</li>
	<li>
	<a th:href="@{/params/mix-params(texto='HOla Gonzalo',numero=7)}">/params/mix-params?HOla Gonzalo&numero=7</a>
	</li>
	<li>
	<a th:href="@{/params/mix-params-request(texto='HOla Gonzalo',numero=7)}">/params/mix-params?HOla Gonzalo&numero=7</a>
	</li>
</body>
</html>